*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/736x/49/ad/c8/49adc8ea64d40cd70c65a6b1c173659e.jpg);
    background-size: cover;
  }

  header {
    background-color: #6292b3;
    color: rgb(212, 201, 201);
    padding: 15px;
    text-align: center;
  }

  header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  section {
    padding: 40px 20px;
    text-align: center;
  }
  
  h2 {
    color: #6292b3
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  form input, form textarea {
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
  }
  
  form button {
    background-color: #4c6faf;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
